<h1>Editing Person</h1>

<% if current_user.id == @person.id or current_user.is_admin or current_user.is_student_admin %>
  <%= render 'form' %>
<%else%>
  You don't have permission to view this page.
<%end%>
