<h1>Listing Maintenance Types</h1>

<%=render "maintanance_types/index_table", :maintanance_types=>@maintanance_types%>

<br>

<%= link_to "#{fa_icon("plus")} New Maintenance Type".html_safe, new_maintanance_type_path, :class=>"btn btn-primary" %>