<div class="col-md-12">
	<h3>Maintanance Due</h3>
	<hr />
	<%=link_to "All Maintanance Completed", maintanance_actions_path%> | 
	<%= link_to 'New Maintanance Completed', new_maintanance_action_path %>
	<br />
	<br />
	<dl>
		<%if @tools_maintanance.size ==0%>
			<i>There are no tools needing maintanance right now.</i>
		<%else%>
			<%@tools_maintanance.each do |tool|%>
				<%actions = tool.maintanance_action_required%>
				<dt><%=tool.name%></dt>
				<dd>
					<ul>
						<%actions.each do |action|%>
							<li><%=link_to action.name, action%></li>
						<%end%>
					</ul>
				</dd>
			<%end%>
		<%end%>
	</dl>
</div>